<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title" style="text-decoration:underline;">
                    <%= link_to(job.title, job_path(job)) %>
                </h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="trix-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <span><i class="fa fa-jpy" aria-hidden="true"></i>: <kbd><%= job.wage_lower_bound%>-<%= job.wage_upper_bound%><kbd></span>
                            </div>
                            <div class="col-md-4">
                                <span><i class="fa fa-flag-checkered" aria-hidden="true"></i>：<%= job.company%></span>
                            </div>
                            <div class="col-md-4">
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i>：<%= job.location%></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i>: <%= job.created_at%></p>
            </div>
        </div>
        <div class="service-space-thinner">
        </div>
