<div class="container-fluid" id="section1">
    <div class="row box">
        <div class="box-inner col-md-12">
            <h1 class="title">Job-Hunting</h1>
            <p class="slogan-bold">Hunt your job and start your dream </p>
            <p class="slogan">
                <br>
                筛选掉标题党，只提供优质且高薪的工作
                <br>
                高效解决你的求职问题
            </p>
            <p class="lead">
                <%= link_to '马上应征', jobs_path, class: 'btn btn-warning welcome-btn' %>
            </p>
        </div>
    </div>
</div>
<div class="text-center container-fluid"  id="services">
    <div class="container">
        <h1 class="service-space-thinner" style="font-size:40px;">SERVICES</h1>
        <h4 class="service-header service-space-thinner">What we offer</h4>
        <hr class="service-space-thinner">
        <div class="row service-space-thinner">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-thumbs-up service-img service-space-thinner"></span>
                <h4 class="service-header service-space-thinner">更好</h4>
                <p class="service-text service-space-thinner">提供更高质量的职位，再也不用担心鱼龙混杂的求职信息</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-plane service-img service-space-thinner"></span>
                <h4 class="service-header service-space-thinner">更快</h4>
                <p class="service-text service-space-thinner">简洁高效的招聘流程，再也不用担心繁琐的应聘流程</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench service-img service-space-thinner"></span>
                <h4 class="service-header service-space-thinner">更多</h4>
                <p class="service-text service-space-thinner">得到HR更多的反馈，再也不用担心简历石沉大海</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="work_flow">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><span class="glyphicon glyphicon-pencil service-icon"></span>一、精心准备好你的简历</h2>
                    <p class="lead">一份精心修改的简历可以让你从众多求职者中脱引而出</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><span class="glyphicon glyphicon-cloud-upload service-icon"></span>二、选择并且投递</h2>
                    <p class="lead">通过筛选机制，找到合适自己的职位上传简历</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><span class="glyphicon glyphicon-ok service-icon"></span>三、得到offer！</h2>
                    <p class="lead">得到满意的职位或者根据HR反馈做出改进再次投递</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="customers-feedback">
    <div class="container">
        <div class="service-space">
        </div>
        <div class="service-space">
            <hr>
        </div>
        <h2>使用者见证：</h2>
        <div class="row service-space">
            <div class="col-md-4">
                <blockquote class="quote-box" style="height:280px;">
                    <p class="quotation-mark">
                        “
      </p>
                    <p class="quote-text">
                        "Job-Hunting is so amazing. I got my dream work just one week!"
      </p>
                    <hr>
                    <div class="blog-post-actions">
                        <p class="blog-post-bottom pull-left">
                            Elizabeth
        </p>
                        <p class="blog-post-bottom pull-right">
                            <span class="badge quote-badge">196</span>  ❤
        </p>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="quote-box">
                    <p class="quotation-mark">
                        “
    </p>
                    <p class="quote-text">
                        "I have worked with several different people and it always seemed like a pain—luckily I found my offer. Thanks them!"
                  <hr>
                        <div class="blog-post-actions">
                            <p class="blog-post-bottom pull-left">
                                Jerry Lai
      </p>
                            <p class="blog-post-bottom pull-right">
                                <span class="badge quote-badge">236</span>  ❤
      </p>
                        </div>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <blockquote class="quote-box" style="height:280px;">
                        <p class="quotation-mark">
                            “
    </p>
                        <p class="quote-text">
                            "Are you paid fairly? Big boss know your worth? Come here, you'll got them!"
    </p>
                        <hr>
                        <div class="blog-post-actions">
                            <p class="blog-post-bottom pull-left">
                                Milly Cooper
      </p>
                            <p class="blog-post-bottom pull-right">
                                <span class="badge quote-badge">383</span>  ❤
      </p>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="call-to-action">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-12">
                    <p class="call-to-action-slogan" style="color:#fff;margin-top:150px;margin-bottom:180px;">为你的梦想插上翅膀</p>
                    <p>
                        <%= link_to 'Get Started', jobs_path, class: 'btn  btn-danger btn-lg ' %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="service-space">
                    </div>
                    <div class='centerplease'>
                        FAQ:
                    </div>
                    <br>
                    <div class="content">
                        <div>
                            <input type="checkbox" id="question1" name="q"  class="questions">
                            <div class="plus">+</div>
                            <label for="question1" class="question">
                                应聘职位是免费的吗？
                            </label>
                            <div class="answers">
                                Job-Hunting针对经理人用户应聘职位是不需要支付任何费用，您可以放心投递简历。
                            </div>
                        </div>
                        <div>
                            <input type="checkbox" id="question2" name="q" class="questions">
                            <div class="plus">+</div>
                            <label for="question2" class="question">
                                如何才能提高HR阅览简历的次数？
                            </label>
                            <div class="answers">
                                <p>一份合格甚至精致的简历能够让你脱引而出，请参考全栈营线下二期David师兄的
                                  <a href="http://www.jianliheike.com/">简历黑客。</a>
                                </p>
                            </div>
                        </div>
                        <div>
                            <input type="checkbox" id="question3" name="q" class="questions">
                            <div class="plus">+</div>
                            <label for="question3" class="question">
                                一般多久会收到HR反馈，多久能开始工作？
                            </label>
                            <div class="answers">
                                1周内就会有HR回复你，2周内就可以正式就职了。
                            </div>
                        </div>
                    </div>
                    <div class="service-space-wilder">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
                  // Add smooth scrolling to all links in navbar + footer link
                  $(".navbar a, footer a[href='#welcome-body']").on('click', function(event) {

                   // Make sure this.hash has a value before overriding default behavior
                  if (this.hash !== "") {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                      scrollTop: $(hash).offset().top
                    }, 900, function(){

                      // Add hash (#) to URL when done scrolling (default click behavior)
                      window.location.hash = hash;
                      });
                    } // End if
                  });
                })
    </script>
