<div class="pull-right">
    <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-primary")%>
</div>
<br>
<br>
<div class="job-table" id="admin_job_table">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 service-space-thinner">
                <div class="table-title">
                    <h3>Job-Hunting后台管理</h3>
                </div>
                <table class="table-fill">
                    <thead>
                        <tr>
                            <th class="text-left">
                                职缺
            </th>
                            <th class="text-left">
                                收到履历数量
            </th>
                            <th class="text-left">
                                管理选项
            </th>
                            <th class="text-left">
                                刊登时间
            </th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <% @jobs.each do |job| %>
                            <tr>
                                <td class="text-left">
                                    <%= render_job_status(job) %>
                                    <%= link_to(job.title, admin_job_path(job)) %>
                                </td>
                                <td class="text-left"> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
                                <td class="text-left">
                                    <%= link_to("Edit", edit_admin_job_path(job), :class => "btn btn-xs btn-info") %>
                                    |
            <%= link_to("Destroy", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
                                    |
            <% if job.is_hidden %>
                                        <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
                                    <% else %>
                                        <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>
                                    <% end %>
                                </td>
                                <td class="text-left">
                                    <%= job.created_at %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center service-space-thinner">  <%= will_paginate @jobs, class: "apple_pagination" %></div>
    </div>
</div>
