<!DOCTYPE html>
<html>
    <head>
        <title>Job-Hunting</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="100" style="position: relative;" id="welcome-body">
        <div class="container-fluid">
            <div class="row">
                <%= render "common/welcome_navbar"%>
                <div class="space-admin-header">
                </div>
                <%= render "common/flashes"%>
                <%= yield %>
            </div>
        </div>
        <%= render "common/welcome-footer"%>
    </body>
</html>
